<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <br>
    <div class="fadeIn first">
    

      <img src="assets/Logo-Badak.svg"  width="150" height="150" viewBox="0 0 150 150" fill="none">


    </div>

    <!-- Login -->
    <h1>Bienvenido a Badak</h1>
    
    <br>
    <br>
  
    <form>
      <input type="email" required id="email" class="fadeIn second" name="Email" placeholder="E-mail"
        formControlName="email">
      <br>
      <br>
      <input type="password" required id="password" class="fadeIn third" name="Password" placeholder="Contraseña"
        formControlName="password">

      <!-- Forgot your password-->
      <div class="fadeIn fourth">
        <a id="formForgotPassword" class="underlineHover"> ¿Olvidaste tu contraseña?</a>
      </div>
      <p class="text-danger"></p>
      <p id="login-notification" class="text-danger fw-semibold"></p>
      <input type="submit" class="fadeIn fifth" name="" value="Iniciar sesión">
    </form>

    <!-- Dont have an account-->
    <div id="formFooter">
      <div>
        <h2>¿Aún no tienes cuenta?</h2>
      </div>
      <a class="underlineHover" href="#">Registrate</a>
    </div>


  </div>
</div>